<header class="header">
  <a href="index.html" class="logo">
    <img src="img/logo.jpg" alt="T.I. Libras Logo" class="brand-logo">
    T.I Libras
  </a>
  <nav class="nav-links">
    <a href="index.html" id="nav-inicio">Início</a>
    <a href="praticar.html" id="nav-praticar">Praticar</a>
    <a href="sinalario.html" id="nav-sinalario">Sinalário</a>
  </nav>
  <div class="header-actions">
    <button class="icon-btn" title="Acessibilidade"><i class="fa-solid fa-universal-access"></i></button>
    <button class="icon-btn" title="Perfil"><i class="fa-solid fa-user"></i></button>
  </div>
</header>